# Node / Frontend
node_modules/
.dist/
.turbo/

# Cores et Secrets
.env
.env.*
.env.local

# Java / Backend
target/
.gradle/
build/
*.class

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
.claude/

# OS
.DS_Store
Thumbs.db